.heroWrapper {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: var(--color-lightest-green);
  padding: var(--defaultPadding);
}

.hero-image-container {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .image {
    padding: 50px;
    margin: 50px;
    background: white;
    height: 300px;
    width: 500px;
  }
}

.hero-text-container {
  flex: 50%;
  background-color: var(--color-lightest-green);
  padding-top: 100px;
  width: 40%;
  font-size: 24px;
  h1 {
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    font-family: var(--fontFamily-heading);
    font-weight: 400;
    text-transform: none;
  }
}

.divider {
  height: 40px;
  width: 100%;
  background-color: var(--color-lightest-green);
}

.custom-shape-divider-top-1612459004 {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1612459004 svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 106px;
}

.custom-shape-divider-top-1612459004 .shape-fill {
  fill: #ccebad;
}
